<!DOCTYPE html>
<html>
    <head>
        <title>BANDit</title>
    </head>

    <body>

        {% if form %}
            <h1>Add an Event</h1>

            <form id="event_form" method="post" action="/bandit/venue/{{ venue_profile_name_slug }}/add_event/">

                {% csrf_token %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}

                {% for field in form.visible_fields %}
                    {{ field.errors }}
                    {{ field.help_text }}
                    {{ field }}
                {% endfor %}

                <input type="submit" name="submit" value="Create Event" />
            </form>
        {% else %}
            <h1>Access Denied.</h1>
        {% endif %}
    </body>

</html>