<!DOCTYPE html>

{% load staticfiles %}

<html>
    <html lang="en">
<!-- comment -->
<head>
  <title>BandIt</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
 <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" />
 <link rel="stylesheet" href="css/bootstrap-theme.css" type="text/css" />
 <link rel="stylesheet" href="css/bootstrap-theme.min.css" type="text/css" />
 <link rel="stylesheet" href="css/style.css" type="text/css"/>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/slider.js"></script>
  
</head>

    <body>
        {% if band %}
            <h1>{{ band.profile.name }}</h1>
            {% if band.profile.profile_picture %}
                <img src="{{ band.band.profile.profile_picture.url }}" alt="profile_picture" /> 
            {% endif %}
            Description: {{ band.profile.description }} <br />
            City: {{ band.profile.city }} <br />
            Phone number: {{ band.profile.phone_number }} <br />
            Website: {{ band.profile.website }} <br />
            Members: {{ band.number_of_members }} <br />
            Genre: {{ band.genre }} <br />

            {% if accessed_by_owner %}
                <a href="/bandit/band/{{ band.profile.slug }}/edit">Edit Profile</a>
            {% endif %}

        {% else %}
            The specified band {{ band.profile.name }} does not exist!
        {% endif %}
    </body>
</html>