{% extends 'base.html' %}

{% block title %}Bands{% endblock %}

{% block content_block %}
        {% if band_list %}
            <h1>Bands</h1>
            <ul>
                {% for band in band_list %}
                    <li><p><a href="/bandit/band/{{ band.profile.slug }}">{{ band.profile.name }}</a></p></li>
                    <p> genre: {{band.genre}} </p>
                    <p> band members: {{band.number_of_members}} </p>
                    <hr></hr>
                {% endfor %}
            </ul>
        {% else %}
            No bands.
        {% endif %}
{% endblock %}