{% extends 'base.html' %}

{% block title %}{{ band.profile.name }}{% endblock %}

{% block content_block %}
		<div class="container-fluid">
        {% if band %}
			<div class="row">
            <h1>{{ band.profile.name }}</h1>
            </div>
			<div class="row band-profile">
			           
			<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
			{% if band.profile.profile_picture %}
                <img src="{{ band.profile.profile_picture.url }}" alt="profile_picture" /> 
            {% endif %}
			</div>
			<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <p><b>Description:</b> {{ band.profile.description }}</p>
            <p><b>City:</b> {{ band.profile.city }}</p>
            <p><b>Phone number:</b> {{ band.profile.phone_number }}</p>
            <p><b>Website:</b> <a href="{{ band.profile.website }}" target="_blank">{{ band.profile.website }}</a> </p>
            <p><b>Members:</b> {{ band.number_of_members }} </p>
            <p><b>Genre:</b> {{ band.genre }} </p>
			 {% if accessed_by_owner %}
               <p> <a href="/bandit/band/{{ band.profile.slug }}/edit">Edit Profile</a> </p>
            {% endif %}
			</div>
			<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
				<p></p>
			</div>
			</div>
		</div>
        {% else %}
           <div class="alert alert-danger" role="alert"><h1> The specified band {{ band.profile.name }} does not exist!</h1></div>
        {% endif %}
{% endblock %}