{% extends 'base.html' %}

{% block title %}Edit Profile{% endblock %}

{% block content_block %}
        {% if band_form and profile_form %}
            <h1>Edit Profile</h1>

            <form id="edit_band_profile_form" enctype="multipart/form-data" method="post" action="/bandit/band/{{ band_profile_name_slug }}/edit/">

                {% csrf_token %}
                
                {{ profile_form.as_p }}
                {{ band_form.as_p }}

                <input type="submit" name="submit" value="Save" />
            </form>
        {% else %}
            <h1>Access Denied.</h1>
        {% endif %}
{% endblock %}