{% extends 'base.html' %}

{% block title %}Edit Profile{% endblock %}

{% block content_block %}
        {% if venue_form and profile_form %}
            <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h1 id=h-reg>Edit Profile</h1>
            </div>
            </div>
            <div class="col-md-12">
            <div class="container-fluid">
                <div class="row">
                    <div class="django-form">
                        <div id="contentBox">
                            <div class="well">
                                    <form id="edit_venue_profile_form" enctype="multipart/form-data" method="post" action="/bandit/venue/{{ venue_profile_name_slug }}/edit/">

                                        {% csrf_token %}
                
                                        {{ profile_form.as_p }}
                                        {{ venue_form.as_p }}

                                        <input class="btn btn-primary" id="btn-reg" type="submit" name="submit" value="Save" />
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <h1>Access Denied.</h1>
        {% endif %}
{% endblock %}