{% extends 'base.html' %}

{% block title %}Events{% endblock %}

{% block content_block %}
        {% if event_list %}
            <h1>Events</h1>
            <ul>
                {% for event in event_list %}
                    <li><p><a href="/bandit/venue/{{ event.venue.profile.slug }}/event/{{ event.slug }}">{{ event.name }} - {{ event.date }}, {{ event.start_time }}</a></p></li>
                    <p> venue: {{ event.venue.profile.name }} </p>
                    <p> date: {{ event.date }} </p>
                    <hr></hr>
                {% endfor %}
            </ul>
        {% else %}
            No events.
        {% endif %}
{% endblock %}