<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">
<head>
	<title>BandIt</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" />
	<link rel="stylesheet" href="css/bootstrap-theme.css" type="text/css" />
	<link rel="stylesheet" href="css/bootstrap-theme.min.css" type="text/css" />
	<link rel="stylesheet" href="css/style.css" type="text/css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src='{% static "js/bandit-jquery.js" %}'></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/slider.js"></script>
</head>

<body>

<nav class="navbar navbar-default navbar-fixed-top">
<div class="container-fluid">
<div class="row">
<div class="col-md-12 navig">
<a class="navbar-brand" href="#">Band<b>IT</b></a>
<ul class="nav nav-pills">
<li role="presentation"><a href="#">Home</a></li>
<li role="presentation"><a href="#">Profile</a></li>
<li role="presentation"><a href="#">Messages</a></li>
<li role="presentation"><a href="#">Events</a></li>
<li role="presentation"><a href="#">Bands</a></li>
</ul>
</div>
</div>
</div>
</nav>

<div class="container-fluid card">
<div class="row">
<div class="col-md-12">
{% if event %}
<h1>{{ event_name }}</h1>
<h2>Owner: <a href="/bandit/venue/{{ venue.profile.slug }}">{{ venue }}</a></h2>
</div>
<!-- If a band has been allocated to this event, show its name. -->
</div>
<div class="row">
<div class="col-md-12">   
{% if event.band %}
<h3>Band: <a href="/bandit/band/{{ event.band.profile.slug }}">{{ event.band }}</a></h3>
{% else %}
<h3>Band: Not allocated.</h4>
{% endif %}
<p>User: {{ username }} </p>

            <!-- If the user is the venue-owner of the event, show list of requests. -->
            {% if requests %}
			<div class="row">
				<ul class="list-group requests">
					{% for request in requests %}
                    <li class="list-group-item"><a href="request/{{ request.band.profile.slug }}">{{ request.band }} : {{ request.request_date }}</a></li>
                    {% endfor %}
                </ul>
			</div>
            {% endif %}

            <!-- If the user is a band... -->
            {% if band %}
                <!-- ... and has made a request for this event, show the request's date -->
                {% if gig_request %}
				<div class="row">
                    <p>Date of request: {{ gig_request.request_date }}</p>
					 {% else %}
                    <a href="">Make request</a>
					{% endif %}
				</div>
                <!-- Otherwise, show a button/link to make a request. -->
               
            {% endif %}

{% else %}
<div class="alert alert-danger" role="alert"><h1>The specified event {{ event_name }} does not exist!</h1></div>
{% endif %}
        </div>
    
</div>
</div>
<nav class="navbar navbar-default navbar-static-bottom"> 
  <div class="container-fluid">
  <div class="row">
	<p class="navbar-text navbar-right">Copyright <b>Team Gig-A-Bit</b></p>
 </div>
  </div>
	</nav> 
	</body>
</html>