{% extends 'base.html' %}

{% block title %}Events{% endblock %}

{% block content_block %}
        {% if event_list %}
            <h1 id=h-reg>Events</h1>
            <ul>
                {% for event in event_list %}
                    <li><h4><a href="/bandit/venue/{{ event.venue.profile.slug }}/event/{{ event.slug }}">{{ event.name }} - {{ event.date }}, {{ event.start_time }}</a></h4></li>
                    <p> Venue: <a href="/bandit/venue/{{ event.venue.profile.slug }}">{{ event.venue.profile.name }}</a> </p>
                    <p> Date: {{ event.date }} </p>
                    <hr></hr>
                {% endfor %}
            </ul>
        {% else %}
            No events.
        {% endif %}
{% endblock %}