		{% extends 'base.html' %}
	  
        
        {% if user.is_authenticated %}
		<!-- Content from base.html+loggedin.html goes in here -->
		
		{% extends 'loggedin.html' %}
       <!-- <a href="/bandit/restricted/">Restricted Page</a><br />
        <a href="/bandit/logout/">Logout</a><br /> -->
        {% else %}
		<!-- Content from base.html+notloggedin.html goes in here -->
		{% extends 'notloggedin.html' %}
        <!-- <a href="/bandit/register/">Register Here</a><br />
        <a href="/bandit/login/">Login</a><br /> -->
        {% endif %}