<!DOCTYPE html>

{% load staticfiles %}


<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="{% static "js/bandit-jquery.js" %}"></script>
        <title>BANDit</title>
    </head>

    <body>
        {% if event and gig_request %}
            <h1><a href="../../">{{ event_name }}</a></h1>
            <h3>Band: <a href="/bandit/band/{{ band.profile.slug }}">{{ band.profile.name }}</a></h3>
            <p>Date of request: {{ gig_request.request_date }}</p>

            {% if not accepted_band %}
                <button id="accept_gig_request" data-evid="{{ event.id }}" data-bandid="{{ gig_request.band.id }}" class="btn btn-primary" type="button">Accept Request</button>
                <strong id="gig_request_accepted"></strong>
            {% endif %}
        {% else %}
            The specified event does not exist, or the specified band has not made a request for it!
        {% endif %}
    </body>
</html>