{% extends 'base.html' %}

{% block title %}Search: {{ query_terms }}{% endblock %}

{% block content_block %}
<div class="container-fluid">
    <div class="row">
        <div class="hidden-xs col-sm-12 col-md-12 col-lg-12">
            <h2>Search Results</h2>
                <div id="column1">
                    <div class="well">
                        BANDS
                        {% if bands %}
                            <ul class="list-group requests">
                                {% for band in bands %}
                                    <li class="list-group-item"><a href="/bandit/band/{{ band.profile.slug }}">{{ band.profile.name }}</a></li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
                <div id="column2">
                    <div class="well">
                        VENUES
                        {% if venues %}
                            <ul class="list-group requests">
                                {% for venue in venues %}
                                    <li class="list-group-item"><a href="/bandit/venue/{{ venue.profile.slug }}">{{ venue.profile.name }}</a></li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
                <div id="column3">
                    <div class="well">
                        EVENTS
                        {% if events %}
                            <ul class="list-group requests">
                            {% for event in events %}
                                <li class="list-group-item"><a href="/bandit/venue/{{ event.venue.profile.slug }}/event/{{ event.date }}">{{ event.name }}</a></li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}