{% extends 'base.html' %}

{% block title %}Venues{% endblock %}

{% block content_block %}
        {% if venue_list %}
		<div class="container-fluid eve">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="row">
            <h1 id=h-reg>Venues</h1>
            <ul class="list-group">
                {% for venue in venue_list %}
                    <li><h4><a href="/bandit/venue/{{ venue.profile.slug }}">{{ venue.profile.name }}</a><h4></li>
                     <p> Address: {{venue.address}} </p>
                     <p> Postcode: {{venue.post_code}} </p>
                     <p> Tel: {{venue.profile.phone_number}} </p>
                     <hr />
                {% endfor %}
            </ul>
			</div>
			</div>
		</div>
        {% else %}
            No venues.
        {% endif %}
{% endblock %}