{% extends 'base.html' %}

{% block title %}Venues{% endblock %}

{% block content_block %}
        {% if venue_list %}
            <h1 id=h-reg>Venues</h1>
            <ul>
                {% for venue in venue_list %}
                    <li><h4><a href="/bandit/venue/{{ venue.profile.slug }}">{{ venue.profile.name }}</a><h4></li>
                     <p> Address: {{venue.address}} </p>
                     <p> Postcode: {{venue.post_code}} </p>
                     <p> Tel: {{venue.profile.phone_number}} </p>
                     <hr></hr>
                {% endfor %}
            </ul>
        {% else %}
            No venues.
        {% endif %}
{% endblock %}