{% extends 'base.html' %}

{% block title %}Venues{% endblock %}

{% block content_block %}
        {% if venue_list %}
            <h1>Venues</h1>
            <ul>
                {% for venue in venue_list %}
                    <li><p><a href="/bandit/venue/{{ venue.profile.slug }}">{{ venue.profile.name }}</a><p></li>
                     <p> address: {{venue.address}} </p>
                     <p> postcode: {{venue.post_code}} </p>
                     <p> tel: {{venue.profile.phone_number}} </p>
                     <hr></hr>
                {% endfor %}
            </ul>
        {% else %}
            No venues.
        {% endif %}
{% endblock %}