{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<!-- comment -->
<head>
  <title>BandIt</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
 <link rel="stylesheet" href={% static "css/style.css" %} type="text/css" />
 <link rel="stylesheet" href={% static "css/bootstrap.min.css" %} type="text/css" />
 <link rel="stylesheet" href={% static "css/bootstrap-theme.css" %} type="text/css" />
 <link rel="stylesheet" href={% static "css/bootstrap-theme.min.css" %} type="text/css" />
 <link rel="stylesheet" href={% static "css/style.css" %} type="text/css"/>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src={% static "js/bootstrap.min.js" %}></script>
  <script src={% static "js/slider.js" %}></script>
  <script src={% static "js/bandit-jquery.js" %}></script>
  
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
<div class="container-fluid">
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 navig">
	<div class="col-xs-4 col-sm-4 col-md-2 col-lg-2">
	<a class="navbar-brand" href="#">Band<b>IT</b></a>
	</div>
	<form role="form" id="search_form" method="get" action="/bandit/search/">
	<div class="col-xs-12 col-sm-8 col-md-4 col-lg-4 searchbar">
	 <div class="input-group">
     <input type="text" class="form-control" name="query_terms" placeholder="Search for..." />
	  <span class="input-group-btn">
        <button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
      </span>
    </div>
	</div>
	</form>
	<div class="col-xs-12 col-sm-8 col-md-6 col-lg-6">
		<ul class="nav nav-pills">
			<li role="presentation" ><a href="#">Home</a></li>
			<li role="presentation"><a href="">Profile</a></li>
			<li role="presentation"><a href="">Messages</a></li>
			<li role="presentation"><a href="">Events</a></li>
			<li role="presentation"><a href="">Bands</a></li>
			<li class="dropdown">
			
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-bell"></span> Notifications
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Some notification shit</a></li>
          <li><a href="#">Such html</a></li>
          <li><a href="#">Much Css</a></li>
        </ul>
      </li>
		</ul>
	</div>
	</div>
</div>
</div>
</nav>
<!-- content goes in here -->

{% block content_block %}{% endblock %}
  
<!-- end of content -->  
  <nav class="navbar navbar-default navbar-static-bottom"> 
  <div class="container-fluid">
  <div class="row">
	<p class="navbar-text navbar-right">&copy;2016  <b>Team Gig-A-Bit</b></p>
 </div>
  </div>
  </nav> 
</body>
</html>