/*

Custom style sheet

*/

body
{
height:100%;
margin:0px;
padding:0px;
padding-top:80px;
padding-bottom:60px;
}


.navig
{
top:10px;
}
.nav
{
float:right;
min-width:100px;
margin-top:2px;
min-height:50px;
}
.navbar-brand
{
height: auto;
max-width: 100%;
display: block;
overflow: visible;
}

.navbar-brand img
{
height: 60px;
width: 120px;
position: relative;
bottom: 22px;
right: 5px;
}


.navbar-default .navbar-brand
{
color:#337ab7;
}

.navbar-fixed-top
{
padding-top:10px;
background:rgba(255, 255, 255,0.8) ;
box-shadow:none;
border:none;
border:solid 1px #ecf0f1;
min-height:80px;
}

.navbar-fixed-top:hover
{
background:rgba(255, 255, 255,1);
}


.navbar-default .navbar-right
{
color:#fff;
}

.searchbar
{
top:6px;
}

.searchbar .btn
{
background:#337ab7;
}

hr
{
color:#337ab7;
border: none;
height: 2px;
/* Set the hr color */
color: #337ab7; /* old IE */
background-color: #337ab7; /* Modern Browsers */
}

.row
{
width:80%;
margin-left:auto;
margin-right:auto;
}

.col-md-4
{
color:#34495e;
}

#myCarousel
{
position:relative;
text-align:center;
margin-left:auto;
margin-right:auto;
margin-bottom:20px;
}

#myCarousel img
{
max-height:600px;
width:100%;
min-height:200px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  
}

.profile-pic
{
width:60%;
min-width:150px;
height:auto;
min-height:200px;
max-height:600px;
max-width:400px;
margin-right:auto;
margin-top:25px;
}

.requests li
{
text-align:center;
}
.requests
{
min-height:10px;
overflow:auto;
}
.card
{
width:70%;
margin-left:auto;
margin-right:auto;
}

.well {
    background-color: rgba(245, 245, 245, 0.4);
    
}

.container
{
    width:100%;
}

.mainPitch
{
    position:absolute;
    top:50px;
    left:0px;
    width:inherit;
}
#contentBox
{
    margin:0px auto;
    width:auto;
}

#column1, #column2, #column3
{
    float:left;
    margin:0px auto;
    width:33%;
    min-width:200px;
    padding-left:20px;
    padding-right:20px;
    text-align:center
}

.container .row
{
    
    margin-left:auto;
    margin-right:auto;
}

#myCarouselA
{
    .carousel { z-index: -99; } /* keeps this behind all content */
    position:fixed;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:20px;
}

.carousel-inner img
{
    max-height:500px;
    width:100%;
    min-height:200px;
}
h1
{
margin-bottom:30px;
}


.notifications-red
{
    color:red;
}

.carousel-font
{
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    font-size: 1.6em;
}